.gameArea {
    height: 50rem;
    background-color: #282c34;
}

.resultLabel {
    display: inline-block;
    width: 8rem;
    color: #ccc;
    text-align: left;
}
.resultValue {
    display: inline-block;
    width: 8rem;
    color: #ccc;
    text-align: right;
}

.resultArea {
    width: 20rem;
}
