*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
header,
main,
footer,
h1,
h2,
h3,
h4,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
button,
table,
tr,
th,
td,
form,
input,
label {
  border: 0;
  font-weight: normal;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

.hidden {
  display: none !important;
}

.clickable {
  cursor: pointer;
}

.clickable:active:not([disabled]) {
  transform: scale(0.95);
}

header {
  width: 100%;
  height: 6rem;
  background-color: #464;
  color: var(--main-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .container {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
}
header .title {
  font-size: 3rem;
  line-height: 4rem;
}
header .divider {
  flex-grow: 1;
}
header .btn {
  color: var(--main-color);
  font-size: 2rem;
}

.appIcon {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  pointer-events: none;
  background-image: url("./images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn {
  position: relative;
  width: 15rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 1rem;
  text-align: center;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
}
.btn:hover {
  text-decoration: underline;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-animation: ripple 500ms ease-out;
          animation: ripple 500ms ease-out;
}

@-webkit-keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
html {
  font-size: 10px;
  font-family: "Noto Serif JP", serif;
}

button {
  font-family: "Noto Serif JP", serif;
}

:root {
  --main-color: snow;
}

@font-face {
  font-family: "DSEG7Classic";
  src: url("./fonts/DSEG7/Classic-Bold.woff2") format("woff2"), url("../fonts/DSEG7/Classic-Bold.woff") format("woff"), url("./fonts/DSEG7/Classic-Bold.ttf") format("truetype");
}
@media screen and (max-width: 600px) {
  /* for smart phone */
}
@media screen and (max-width: 1024px) {
  /* for tablet */
}
body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #282c34;
}

.container {
  width: 1280px;
  inset: 0;
  margin: auto;
}

footer {
  width: 100%;
  height: 6rem;
  padding: 2rem;
  color: var(--main-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
}
footer span {
  font-size: 2rem;
}

.gameScreen {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: row;
}

.game {
  position: relative;
  width: 900px;
  height: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.floor {
  position: absolute;
  width: 100%;
  height: 60px;
  color: var(--main-color);
  border-bottom: 1px solid gray;
  font-size: 2rem;
}
.floor .label {
  display: inline-block;
  font-size: 3rem;
  line-height: 60px;
  padding: 0 2rem;
}
.floor .indicator.active {
  color: #2c2;
}

.elevator {
  position: absolute;
  width: 60px;
  height: 60px;
  color: var(--main-color);
  border: 1px solid snow;
  font-size: 1rem;
}
.elevator .label {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0 1rem;
}
.elevator .indicator.active {
  color: #2c2;
}

.startButton {
  color: var(--main-color);
  background-color: #839496;
  width: 15rem;
  font-size: 2rem;
  border-radius: 1rem;
}

.result {
  width: 380px;
  height: inherit;
  padding: 1rem 0;
}
.result li {
  line-height: 4rem;
}
.result span {
  display: inline-block;
  color: var(--main-color);
  font-size: 2rem;
}

.resultLabel {
  width: 220px;
  text-align: left;
}

.resultValue {
  width: 160px;
  text-align: right;
}

.codeEditor {
  width: 100%;
  min-height: 15rem;
  font-size: 1.6rem;
}